<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <!--Keys related to your Azure Search instance-->
      <add key="SearchServiceName" value="" />
      <add key="SearchServiceApiKey" value="" />
      <add key="SearchServiceQueryKey" value="" />

      <!--Keys related to your Cognitive Services account-->
      <add key="CognitiveServicesAccountKey" value="" />

      <!--Keys related to your storage account for the image-store custom skill-->
      <add key="BlobStorageAccountConnectionString" value="" />

      <!--Keys related to your Azure Web App instance-->
      <add key="AzureWebAppSiteName" value="" />
      <add key="AzureWebAppUsername" value="" />
      <add key="AzureWebAppPassword" value="" />
      
      <!--Keys related to your Azure Function instance-->
      <add key="AzureFunctionSiteName" value="" />
      <add key="AzureFunctionHostKey" value="" />
      
      <!--Location of sample JFK file documents that we are providing to you.-->
      <add key="JFKFilesBlobStorageAccountConnectionString" value="BlobEndpoint=https://azsjfkfiles.blob.core.windows.net/;SharedAccessSignature=sv=2020-08-04&amp;ss=b&amp;srt=co&amp;sp=rl&amp;se=2040-11-16T03:57:32Z&amp;st=2021-11-15T19:57:32Z&amp;spr=https&amp;sig=baXkgPbthrwTRrAilN1R2iOOJbjfjwTFA%2FyZh7whH9k%3D" />
      <add key="JFKFilesBlobContainerName" value="jfkfiles" />

      <!--Configurable names, feel free to change these if you like-->
      <add key="DataSourceName" value="jfkdatasource" />
      <add key="IndexName" value="jfkindex" />
      <add key="SkillsetName" value="jfkskillset" />
      <add key="IndexerName" value="jfkindexer" />
      <add key="SynonymMapName" value="cryptonyms" />
      <add key="BlobContainerNameForImageStore" value="imagestoreblob" />

	  <add key="SearchServiceDnsSuffix" value="search.windows.net" />
      <add key="SearchServiceApiVersion" value="2021-04-30-Preview" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5.0" newVersion="3.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.6.3.0" newVersion="7.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.17.0.0" newVersion="1.17.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
