<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <!--Keys related to your Azure Search instance-->
      <add key="SearchServiceName" value="" />
      <add key="SearchServiceApiKey" value="" />
      <add key="SearchServiceQueryKey" value="" />

      <!--Keys related to your Cognitive Services account-->
      <add key="CognitiveServicesAccountKey" value="" />

      <!--Keys related to your storage account for the image-store custom skill-->
      <add key="BlobStorageAccountConnectionString" value="" />

      <!--Keys related to your Azure Web App instance-->
      <add key="AzureWebAppSiteName" value="" />
      <add key="AzureWebAppUsername" value="" />
      <add key="AzureWebAppPassword" value="" />
      
      <!--Keys related to your Azure Function instance-->
      <add key="AzureFunctionSiteName" value="" />
      <add key="AzureFunctionUsername" value="" />
      <add key="AzureFunctionPassword" value="" />
      
      <!--Location of sample JFK file documents that we are providing to you.-->
      <add key="JFKFilesBlobStorageAccountConnectionString" value="SharedAccessSignature=st=2019-05-02T21%3A30%3A00Z&amp;se=9999-12-21T12%3A00%3A00Z&amp;sp=rl&amp;sv=2018-03-28&amp;sr=c&amp;sig=NmOktoltvmd9gLqHidRuQN06xeSXbCVYIVti5prLdmA%3D;BlobEndpoint=https://azsjfkfiles.blob.core.windows.net/" />
      <add key="JFKFilesBlobContainerName" value="jfkfiles" />

      <!--Configurable names, feel free to change these if you like-->
      <add key="DataSourceName" value="jfkdatasource" />
      <add key="IndexName" value="jfkindex" />
      <add key="SkillsetName" value="jfkskillset" />
      <add key="IndexerName" value="jfkindexer" />
      <add key="SynonymMapName" value="cryptonyms" />
      <add key="BlobContainerNameForImageStore" value="imagestoreblob" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5.0" newVersion="3.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.6.3.0" newVersion="7.6.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
