<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.KeyVault.Core" version="3.0.4" targetFramework="net452" />
  <package id="Microsoft.Azure.Search" version="10.0.0" targetFramework="net452" />
  <package id="Microsoft.Azure.Search.Common" version="10.0.0" targetFramework="net452" />
  <package id="Microsoft.Azure.Search.Data" version="10.0.0" targetFramework="net452" />
  <package id="Microsoft.Azure.Search.Service" version="10.0.0" targetFramework="net452" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.20" targetFramework="net452" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net452" />
  <package id="Microsoft.Spatial" version="7.6.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net452" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="net452" />
</packages>