<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.KeyVault.Core" version="3.0.5" targetFramework="net472" />
  <package id="Microsoft.Azure.Search" version="10.1.0" targetFramework="net472" />
  <package id="Microsoft.Azure.Search.Common" version="10.1.0" targetFramework="net472" />
  <package id="Microsoft.Azure.Search.Data" version="10.1.0" targetFramework="net472" />
  <package id="Microsoft.Azure.Search.Service" version="10.1.0" targetFramework="net472" />
  <package id="Microsoft.Azure.Storage.Blob" version="11.1.3" targetFramework="net472" />
  <package id="Microsoft.Azure.Storage.Common" version="11.1.3" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.21" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net472" />
  <package id="Microsoft.Spatial" version="7.6.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
</packages>